{% extends "base.html.twig" %}

{% block title %}Url Shortener{% endblock %}

{% block body %}

    {{ include('inc/navbar-user.html.twig') }}

      <div class="container">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        
    </div>

{% endblock %}