<nav class="navbar navbar-expand-sm navbar-dark bg-info m3">

<div class="container">
    <a href="/home" class="navbar-brand">Logo</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mobile-nav">

        <ul class="navbar-nav ml-auto">
            <li class="nar-item">
                <a href="/links" class="nav-link">Links</a>
            </li>
            <li class="nar-item">
                <a href="/register" class="nav-link">Create user</a>
            </li>
             <li class="nar-item">
                <a href="/login" class="nav-link">Login</a>
            </li>
        </ul>

    </div>

</div>

</nav>